<nz-table class="altura" [nzFrontPagination]="false" [nzData]="listaTabela">
  <thead>
    <tr>
      <th>Nome</th>
      <th>nº</th>
      <th>Imagem</th>
      <th>tipo 1</th>
      <th>tipo 2</th>
      <th>Informações</th>
      <th>Favoritos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of listaTabela">
      <td>{{ pokemon.name }}</td>
      <td *ngIf="pokemon.status">{{ pokemon.status.id }}</td>
      <td *ngIf="pokemon.status">
        <img [src]="pokemon.status.sprites.front_shiny" alt="pokemon.name" />
      </td>
      <ng-container *ngFor="let v of pokemon?.status?.types">
        <td>{{ v.type.name }}</td>
      </ng-container>
      <td>
        <a> <app-modal-pokemon></app-modal-pokemon></a>
      </td>
      <td>
        <a>
          <ng-container *ngIf="pokemon.like == false"> </ng-container>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
