<td>{{ pokemon.name }}</td>
<td *ngIf="pokemon.status">{{ pokemon.status.id }}</td>
<td *ngIf="pokemon.status">
  <img [src]="pokemon.status.sprites.front_shiny" alt="pokemon.name" />
</td>
<ng-container *ngFor="let v of pokemon?.status?.types">
  <td>{{ v.type.name }}</td>
</ng-container>
<td>
  <a> <app-modal-pokemon></app-modal-pokemon></a>
</td>
<td>
  <a>
    <ng-container *ngIf="pokemon.like == false">
      <i
        nz-icon
        nzType="heart"
        nzTheme="outline"
        (click)="curte(pokemon.like)"
      ></i> </ng-container
    ><ng-container *ngIf="pokemon.like == true">
      <i
        nz-icon
        nzType="heart"
        nzTheme="fill"
        (click)="curte(pokemon.like)"
      ></i>
    </ng-container>
  </a>
</td>
